@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --block-padding: 1rem 25rem;
    --font-family-1: "Rubik", serif;
    --font-family-2: "Lato", serif;
    --font-family-3: "Montserrat", serif;
    --tr: all 0.5s;
    --bs: 0 0 5px 5px #ddd;
    --bs-1: 0 0 10px 5px #ddd;
}

/* Universal Selection */
body{
    overflow-x: hidden;
}
/* Main Section */

/* Carousel Section */
.carousel-inner .carousel-item{
    width: 100%;
    height: 90vh;
}

.carousel-indicators{
    padding: 1rem;
}

.carousel-indicators button{
    margin: 0 1.2rem !important;
}

.carousel-indicators button img{
    width: 4rem !important;
}

.carousel-indicators button.active img{
    border: 2px solid #ddd;
}

/* Brand Section */
.brand .row{
    transition: var(--tr);
    box-shadow: var(--bs);
}

.brand .row .col{
    transition: var(--tr);
}

.brand .row .col:hover{
    box-shadow: var(--bs);
}

.brand .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.brand .image-container img{
    display: block;
    height: 100px;
    opacity: 0.6;
    transition: all 0.5s;
}

.brand .image-container img:hover{
    opacity: 1;
    transform: scale(1.1);
}

.brand .image-container svg{
    height: 100px;
    display: block;
    opacity: 0.6;
    transition: var(--tr);
}

.brand .image-container svg:hover{
    opacity: 1;
    transform: scale(1.1);   
}

/* Category Section */
.category .text-content .category-heading{
    font-family: var(--font-family-1);
    font-size: 4rem;
    font-weight: 700;
}

.category .text-content .category-text{
    font-family: var(--font-family-2);
    font-size: 1.5rem;
    font-weight: 500;
}

.category-card .card{
    width: 100% !important;
    height: 100% !important;
    border: none !important;
}

.category-card .card img{
    display: block;
    width: 300px;
    margin: auto;
    object-fit: cover !important;
    z-index: 10;
}

.category-card .card-image .card-img-bg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ddd;
    position: absolute;
    bottom: 50px;
}

.category-card .card .card-body .card-title{
    font-family: var(--font-family-1);
    font-size: 1.5rem;
    font-weight: 600;
}

.category-card .card .card-body .card-text{
    font-family: var(--font-family-3);
    font-size: 0.8rem;
    font-weight: 500;
}

/* Pricing Section */
.pricing .text-content .category-heading{
    font-family: var(--font-family-1);
    font-size: 4rem;
    font-weight: 700;
}

.pricing .text-content .category-text{
    font-family: var(--font-family-2);
    font-size: 1.5rem;
    font-weight: 500;
}

/* Pricing Cards */
.pricing-card-list .pricing-card{
    height: 100% !important;
}

.pricing-card-list .card{
    box-shadow: var(--bs-1);
    transition: var(--tr);
    border: none;
}

.pricing-card-list .card:hover{
    transform: scale(1.02);    
}

.pricing-card-list .card img{
    display: block;
    margin: auto;
    width: 250px;
    object-fit: cover !important;
    z-index: 10;
}

.pricing-card-list .card .card-body .card-title{
    font-family: var(--font-family-1);
    font-size: 1.5rem;
    font-weight: 600;
}

.pricing-card .card .card-body .card-text,.pricing-card .card .list-group .list-group-item{
    font-family: var(--font-family-3);
    font-size: 0.8rem;
    font-weight: 500;
}

.pricing-card .card .rate .price{
    font-family: var(--font-family-2);
    font-size: 1.2rem;
    font-weight: 600;
}

.pricing-card .card .rate .price ins{
    text-decoration: none;
}

.pricing-card .card .rate .old_price{
    font-family: var(--font-family-2);
    font-size: 0.9rem;
    font-weight: 600;
}

/* Shopping Category Section */
.category-section{
    margin-top: 5rem;
}

.category-section .shoes-category-heading{
    font-family: var(--font-family-1);
    font-size: 4rem;
    font-weight: 700;
}

.category-section .shoes-category-text{
    font-family: var(--font-family-2);
    font-size: 1.5rem;
    font-weight: 500;
}