@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* Common Styles */
:root {
    --block-padding: 1rem 25rem;
    --font-family-1: "Rubik", serif;
    --font-family-2: "Lato", serif;
    --font-family-3: "Montserrat", serif;
    --tr: all 0.5s;
    --bs: 0 0 5px 5px #ddd;
    --bs-1: 0 0 10px 5px #ddd;
}

/* Body */
body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    Home Page
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*
======================================================================
                        Common Elements
====================================================================== 
 */
/* Navbar */
nav{
    font-family: var(--font-family-3);
    font-size: 1.05rem;
    font-weight: 500;
}

.navbar-brand{
    margin: 0 2.5rem !important;
}

.navbar-brand .navbar-brand-main{
    font-family: var(--font-family-1);
    font-weight: 700;
    font-size: 1.8rem;
    font-style: italic;
}

.navbar-brand .navbar-brand-text{
    font-family: var(--font-family-1);
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    top: -0.9rem;
    left: 3.5rem;
}

/* Shopping Cart Icon */
.shopping .cart-btn{
    text-decoration: none !important;
}

.shopping i{
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: var(--tr) ease;
}

.shopping .shopping-quantity{
    font-size: 0.8rem;
    position: absolute;
    display: block;
    background-color: #ddd;
    padding: 0.1rem 0.4rem;
    border-radius: 100%;
    left: 35px;
    bottom: 35px;
}

/* Cart */
.checkout span{
    font-family: var(--font-family-1);
    font-size: 2rem;
    font-weight: 600;
}

.checkout .total{
    height: 3rem;
    overflow-y: hidden;
}

.checkout .cart-total{
    display: inline-block;
    font-family: var(--font-family-1);
    font-size: 2rem;
    font-weight: 600;
    position: fixed;
    width: 100%;
}

/* Cart Card */
.list-card{
    overflow-y: auto;
}

.list-card .cart-card-item{
    list-style-type: none;
}

.list-card .cart-card-item .card-image img{
    display: block;
    max-width: 100%;
}

.list-card .cart-card-body .card-title{
    font-family: var(--font-family-1);
    font-size: 1.5rem;
    font-weight: 600;
}

.list-card .cart-card-body .rate{
    font-family: var(--font-family-2);
    font-size: 1rem;
    font-weight: 600;
}

.list-card .cart-card-body .price{
    font-family: var(--font-family-2);
    font-size: 1.2rem;
    font-weight: 600;
}

.list-card .cart-card-body .cart-qty-count{
    display: inline-block;    
}

/* Pricing Section */
.pricing .text-content .category-heading{
    font-family: var(--font-family-1);
    font-size: 4rem;
    font-weight: 700;
}

.pricing .text-content .category-text{
    font-family: var(--font-family-2);
    font-size: 1.5rem;
    font-weight: 500;
}

/* Pricing Cards */
.pricing-card-list .pricing-card{
    height: 100% !important;
}

.pricing-card-list .card{
    box-shadow: var(--bs-1);
    transition: var(--tr);
    border: none;
}

.pricing-card-list .card:hover{
    transform: scale(1.02);    
}

.pricing-card-list .card img{
    display: block;
    margin: auto;
    width: 250px;
    object-fit: cover !important;
    z-index: 10;
}

.pricing-card-list .card .card-body .card-title{
    font-family: var(--font-family-1);
    font-size: 1.5rem;
    font-weight: 600;
}

.pricing-card .card .card-body .card-text,.pricing-card .card .list-group .list-group-item{
    font-family: var(--font-family-3);
    font-size: 0.8rem;
    font-weight: 500;
}

.pricing-card .card .rate .price{
    font-family: var(--font-family-2);
    font-size: 1.2rem;
    font-weight: 600;
}

.pricing-card .card .rate .price ins{
    text-decoration: none;
}

.pricing-card .card .rate .old_price{
    font-family: var(--font-family-2);
    font-size: 0.9rem;
    font-weight: 600;
}

/* Product Modal */
.modal-body .modal-main-content{
    display: flex;    
}

.modal-body .modal-main-content .product-img-container{
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body .modal-main-content .product-img-container img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.modal-body .modal-main-content .product-content-container #productTitle{
    font-family: var(--font-family-1);
    font-weight: 700;
    font-size: 2rem;
}

.modal-body .modal-main-content .product-price-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.product-content-container strong{
    font-family: var(--font-family-2);
    font-size: 1.05rem;
    font-weight: 600;
}

.product-price-container #productPrice{
    font-family: var(--font-family-2);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

.product-price-container #productOldPrice{
    font-family: var(--font-family-2);
    font-size: 1rem;
    font-weight: 600;
}

.product-content-container #productDescription{
    font-family: var(--font-family-3);
    font-size: 0.9rem;
    font-weight: 500;
}

.product-content-container #productType,.product-content-container #productSubtype,.product-content-container #productCategory{
    font-family: var(--font-family-3);
    font-size: 0.95rem;
    font-weight: 500;
}

.product-content-container #productStars{
    font-family: var(--font-family-3);
    font-size: 1rem;
    font-weight: 500;
}

/* Feedback Stars */
.fa {
    font-size: 20px;
}

.checked-star{
    color: gold;
}

.unchecked-star{
    color: grey;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    Footer Section
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer .row h3{
    font-family: var(--font-family-1);
    font-size: 1.5rem;
    font-weight: 500;
}

.footer .row span,.footer .row div:not(.navbar-brand,.navbar-brand-main,.navbar-brand-text),.footer-bottom .row span,.footer-bottom .row div{
    font-family: var(--font-family-3);
    font-size: 0.95rem;
    font-weight: 500;
}

.legal,.copyright{
    font-family: var(--font-family-1) !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

.footer .row a,.footer-bottom .row a{
    transition: var(--tr);
}

.footer .row a:hover,.footer-bottom .row a:hover{
    text-decoration: underline !important;
    transform: scale(1.08);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    Swiper Slider Section
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.swiper-outer-container{
    width: 80vw !important;
    height: auto;
    /* cursor: pointer; */
}

/* Swiper class */
.swiper-button-prev,
.swiper-button-next {
    font-size: 2rem;
    color: var(--bg-3);
}

.swiper-pagination-bullet {
    transform: scale(1);
    background-color: var(--bg-2);
    opacity: 0.8;
}

.swiper-pagination-bullet-active {
    background-color: var(--bg-3);
    opacity: 1;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    Carousel Slides
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.carousel-data-container{
    position: relative !important;
    width: 100vw !important;
    height: 100vh !important;
    background-color: #D1F8EF;
    /* background-color: #A6F1E0; */
    /* background: linear-gradient(rgb(0,0,255,0.5),rgb(255,255,0,0.5)), url('/assets/images/bg-carousel-texture.jpg') !important; */
    background-position: center !important;
    background-size: cover !important;
}

.carousel-data-parts{
    width: 50% !important;
    height: 100% !important;
}

.carousel-data-image,.carousel-data-content{
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-data-container .carousel-data-image img{
    display: block !important;
    max-width: 100% !important;
    object-fit: cover !important;
}

.carousel-data-heading{
    font-family: var(--font-family-1);
    font-size: 5rem;
    font-weight: 700;
}

.carousel-data-text{
    font-family: var(--font-family-2);
    font-size: 1.5rem;
    font-weight: 600;
}

.carousel-data-img-bg{
    width: 39rem;
    height: 39rem;
    border-radius: 100%;
    background-color: #A6F1E0;
    position: absolute;
    top: 6rem;
    right: 12rem;
}

/* Media Queries */
@media screen and ((min-width:768px) and (max-width:992px)) {
    /* Product Cards */
    .pricing-card-list .card .card-body .card-title{
        font-size: 1.12rem;
    }
    
    .pricing-card .card .card-body .card-text,.pricing-card .card .list-group .list-group-item{
        font-size: 0.8rem;
    }
    
    .pricing-card .card .rate .price{
        font-size: 1.1rem;
    }
    
    .pricing-card .card .rate .old_price{
        font-size: 1rem;
    }

    .pricing-card .card .btn{
        font-size: 0.9rem !important;
    }
    

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
        Carousel Slides
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    .carousel-data-heading{
        font-family: var(--font-family-1);
        font-size: 3rem;
        font-weight: 700;
    }

    .carousel-data-text{
        font-family: var(--font-family-2);
        font-size: 1rem;
        font-weight: 600;
    }

    .carousel-data-text a{
        font-family: var(--font-family-2) !important;
        font-size: 1.2rem !important;
        font-weight: 600 !important;
    }

    .carousel-data-img-bg{
        width: 20rem;
        height: 20rem;        
        border-radius: 100%;
        background-color: #A6F1E0;
        position: absolute;
        top: 15rem;
        left: 2rem; 
    }

    .carousel-data-img{
        top: 0 !important;
        right: 1rem !important;
    }

    .carousel-data-img-2{
        top: 15rem !important;
        right: 1rem !important;
    }

    .carousel-data-img-3{
        top: 15rem !important;
        left: 0 !important;
        right: 5rem !important;
    }

}